{% extends 'base.html' %}
{% load staticfiles %}
{% block page_css %}

{% endblock %}


{% block page_head %}
    {% include 'include/common/top.html' %}
    {% include 'include/common/page_serach.html' %}
{% endblock %}
{% block page_content %}
    {% include 'include/shop/page_shop_detail.html' %}
    <div id="shop_detial_id">
    <ul>
    <li role="presentation" class="active"><a href="#">商品详情</a></li>
    <li role="presentation"><a href="#">评论</a></li>
    </ul>
    <div>

    </div>
    <div id="shop_review">


    </div>
    </div>
{% endblock %}
{% block page_footer %}
{% endblock %}
